#login__wrap {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login__box {
    width: 420px;
    height: 555px;
    background-color: #fff;
    border-radius: 50px;
    position: relative;
}

.login__inner {
    height: inherit;
    padding: 70px 35px;
}

.login__inner h2 {
    text-align: center;
    font-size: 28px;
    padding-bottom: 20px;
    border-bottom: 4px solid #000;
    margin-bottom: 30px;
}

.login__inner form fieldset > div:nth-child(2) input{
    margin-bottom: 5px; display: inline-block; padding-top: 8px;
}

.login__inner form fieldset button {
    margin-top: 30px;
    width: 100%;
    height: 55px;
}

.login__inner form fieldset a.subLogin {
    display: inline-block;
    text-align: center;
    line-height: 57px;
    margin-top: 5px;
    width: 100%;
    height: 55px;
    margin-bottom: 37px;
}

.login__inner .login__service {
    display: flex;
    justify-content: space-between;
}

.login__inner .login__service div {
    width: 105px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    transition: all 0.3s;
}

.login__inner .login__service div:hover {
    background-color: #000;
    color: #fff;
}

.login__close {
    width: 85px;
    height: 85px;
    position: absolute;
    top: -42.5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #000;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='37' height='34' viewBox='0 0 37 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='2.105' y1='-2.105' x2='42.716' y2='-2.105' transform='matrix(-0.718098 0.695942 -0.718098 -0.695942 33.1406 0.259277)' stroke='white' stroke-width='4.21' stroke-linecap='round'/%3E%3Cline x1='2.105' y1='-2.105' x2='42.716' y2='-2.105' transform='matrix(-0.718098 -0.695942 -0.718098 0.695942 34.6367 33.9404)' stroke='white' stroke-width='4.21' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}